.top-header {
  display: flex;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px solid var(--colorGreen);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  height: 50px;
}

.container-left {
  display: flex;
}

#burger-menu {
  cursor: pointer;
  height: 35px;
  width: 40px;
  margin: 20px;
  overflow: visible;
  position: relative;
  z-index: 10000;
}

#burger-menu svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

#burger-menu.close svg {
  transform: rotate(180deg);
  color: var(--colorWhite);
}

#nav {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}

#nav.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

#nav li a {
  color: var(--colorWhite);
  display: inline-block;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: var(--robotoRegular);
}
