.illustration {
  background: var(--colorBlue);
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0;
}

.illustration p {
  color: var(--colorWhite);
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.illustration img {
  /* width: 100%; */
  display: none;
}

.devis-button {
  border: 1px solid var(--colorGreen);
  background: transparent;
  padding: 10px;
}

.devis-button a {
  color: var(--colorWhite);
}

.devis-button:hover {
  background: var(--colorGreen);
}

.about img {
  width: 320px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-hint {
  display: none;
}

.container-about {
  background: var(--colorBlue);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  width: 320px;
}

.container-about h3 {
  color: var(--colorWhite);
}

.container-about p {
  color: var(--colorWhite);
}

.services {
  margin-bottom: 30px;
  background: var(--colorBlue);
}

.services h2 {
  color: var(--colorWhite);
}

.container-services {
  padding-bottom: 30px;
}

.service {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.service.visible {
  animation: fadeInUp 0.6s ease forwards;
}

.service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.service figure {
  text-align: center;
}

.service figure figcaption {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service h3,
.service p {
  color: var(--colorWhite);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service:nth-child(1) {
  animation-delay: 0.2s;
}
.service:nth-child(2) {
  animation-delay: 0.4s;
}
.service:nth-child(3) {
  animation-delay: 0.6s;
}
.service:nth-child(4) {
  animation-delay: 0.8s;
}
.service:nth-child(5) {
  animation-delay: 1s;
}
.service:nth-child(6) {
  animation-delay: 1.2s;
}
.service:nth-child(7) {
  animation-delay: 1.4s;
}

.prices {
  padding-bottom: 30px;
}

.prices h2 {
  color: var(--colorBlack);
}

.container-prices {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.tarif {
  background: var(--colorWhite);
}

.tarif p:nth-of-type(1) {
  text-align: center;
  margin: 20px 0;
}

.tarif img {
  width: 100%;
}

.tarif figcaption {
  padding: 0 5px 20px;
}

.options {
  background: var(--colorBlue);
}

.options h2 {
  color: var(--colorWhite);
}

.option {
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

.option.visible {
  animation: zoomIn 0.6s ease forwards;
}

.option figure {
  margin-bottom: 30px;
  border: 1px solid var(--colorGreen);
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
}

.option h3 {
  color: var(--colorWhite);
}

.option figure img {
  width: 100%;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.option:nth-child(1) {
  animation-delay: 0.2s;
}
.option:nth-child(2) {
  animation-delay: 0.4s;
}
.option:nth-child(3) {
  animation-delay: 0.6s;
}
.option:nth-child(4) {
  animation-delay: 0.8s;
}
.option:nth-child(5) {
  animation-delay: 1s;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.container-buttons button {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.container-buttons .green {
  background: var(--colorGreen);
}

.container-buttons .green a {
  color: var(--colorWhite);
}

.container-buttons .blue {
  background: var(--colorBlue);
}

.container-buttons .blue a {
  color: var(--colorWhite);
}

.option figcaption h3 {
  text-align: center;
  color: var(--colorWhite);
}

.confiance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.confiance h2 {
  color: var(--colorBlack);
}

.confiance .container-confiance {
  display: flex;
  justify-content: space-between; /* Cela espacera les articles sur toute la largeur */
  flex-direction: column;
  align-items: center;
  width: 100%; /* Assure-toi que la largeur des articles soit pleine */
  max-width: 1200px; /* Ajuste selon la largeur désirée */
}

.confiance article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%; /* Chaque article prend 30% de l'espace disponible */
}

.confiance figcaption {
  color: var(--colorWhite);
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.confiance h3 {
  width: 100%;
  color: var(--colorBlack);
}

.confiance .devis-button {
  margin-top: 30px;
  background: var(--colorBlue);
}

.confiance .devis-button:hover {
  background: var(--colorGreen);
  border: 1px solid var(--colorBlue);
}

.confiance figure img {
  width: 300px;
}

.avantage {
  opacity: 0;
  transform: translateY(50px); /* Départ vers le bas */
  transition: all 0.3s ease;
}

.avantage h3 {
  text-align: center;
}

.avantage.visible {
  animation: slideIn 0.6s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.avantage figure img {
  width: 100%;
}

.avantage figure img {
  width: 100%;
}

.avantage figcaption {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avantage figcaption p {
  text-align: center;
}

.faq {
  background: var(--colorBlue);
  padding: 10px;
  margin: 0;
}

.faq h2 {
  color: var(--colorWhite);
}

.faq-container {
  width: 300px;
  margin: 0 auto;
}

details {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;
  border: 1px solid #ddd;
}

details[open] {
  background: #e3f2fd;
}

summary {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  outline: none;
  list-style: none;
  border-radius: 10px;
}

summary:hover {
  color: var(--colorBlue);
}

details p {
  padding: 15px;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* MOBILE */

@media all and (min-width: 480px) {
  .illustration {
    flex-direction: row;
    align-items: center;
    height: 40vh;
  }

  .container-illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .illustration img {
    width: 90%;
  }

  .container-info {
    justify-content: center;
  }

  .container-about {
    width: 400px;
    justify-content: center;
    gap: 50px;
  }

  .about img {
    width: 400px;
  }

  .container-prices {
    width: 360px;
  }

  .tarif figcaption {
    padding: 0 10px 20px;
  }

  .service {
    width: 300px;
    margin: auto;
  }

  .container-avantages {
    display: flex;
    flex-wrap: wrap;
  }

  .avantage {
    width: 260px;
    margin: auto;
  }

  .option {
    margin: 20px auto;
  }

  .container-confiance {
    display: flex;
    flex-direction: column;
  }

  .faq-container {
    width: 460px;
  }
}

/* TABLET */

@media all and (min-width: 768px) {
  .illustration {
    height: 40vh;
  }

  .container-illustration {
    flex-direction: row;
  }

  .container-about {
    width: 500px;
  }

  .container-img img {
    display: block;
  }

  .container-text {
    width: 485px;
    padding: 35px;
  }

  .container-services {
    display: flex;
    flex-wrap: wrap;
  }

  .about img {
    width: 500px;
  }

  .container-options {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
  }

  .option {
    width: 315px;
  }

  .container-confiance {
    display: flex;
    flex-direction: row;
  }
}

/* DESKTOP */

@media all and (min-width: 1000px) {
  .illustration img {
    display: flex;
  }

  .container-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-img {
    width: 370px;
  }

  .faq-container {
    width: 600px;
  }

  .container-prices {
    width: 1000px;
    flex-direction: row;
  }

  .container-services {
    margin: auto;
    gap: 10px;
  }

  .container-avantages {
    width: 50%;
    margin: auto;
  }

  .confiance .container-confiance {
    flex-direction: row;
  }

  .container-info {
    display: flex;
    flex-direction: row;
    align-items: unset; /* pour aligner verticalement */
    gap: 0; /* aucun espace entre l'image et le texte */
  }

  .container-info img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .container-info img {
    animation: slideDown 1s ease-out forwards;
  }

  .container-about {
    animation: slideUp 1s ease-out forwards;
  }
}
